{% comment %}
  Renders upselling product option variants
  Accepts:
  - product: {Object} product object.
  - option: {Object} product option,
  - picker_type: String picker_type
  Usage:
  {% render 'cart-upselling-variant-options', product: product, option: option, picker_type: picker_type %}
{% endcomment %}

{%- liquid
    assign variants_available_arr = product.variants | map: 'available'
    assign variants_option1_arr = product.variants | map: 'option1'
    assign variants_option2_arr = product.variants | map: 'option2'
    assign variants_option3_arr = product.variants | map: 'option3'
  
    assign product_form_id = 'product-form-' | append: section.id
  -%}
  
  {%- for value in option.values -%}
    {%- liquid
      assign option_disabled = true
      for option1_name in variants_option1_arr
        case option.position
          when 1
            if variants_option1_arr[forloop.index0] == value and variants_available_arr[forloop.index0]
              assign option_disabled = false
            endif
          when 2
            if option1_name == product.selected_or_first_available_variant.option1 and variants_option2_arr[forloop.index0] == value and variants_available_arr[forloop.index0]
              assign option_disabled = false
            endif
          when 3
            if option1_name == product.selected_or_first_available_variant.option1 and variants_option2_arr[forloop.index0] == product.selected_or_first_available_variant.option2 and variants_option3_arr[forloop.index0] == value and variants_available_arr[forloop.index0]
              assign option_disabled = false
            endif
        endcase
      endfor
    -%}
  
    {%- capture input_id -%}
      {{ section.id }}-{{ option.position }}-{{ forloop.index0 -}}
    {%- endcapture -%}
  
    {%- if picker_type == 'button' -%}
      {% if option.name == "Size" %}
          <input
            type="radio"
            id="{{ input_id }}"
            name="{{ option.name }}"
            value="{{ value | escape }}"
            form="{{ product_form_id }}"
            {% if option.selected_value == value %}
              checked
            {% endif %}
            {% if option_disabled %}
              class="disabled"
            {% endif %}
          >
          <label for="{{ input_id }}">
            {{ value -}}
          </label>
      {% elsif option.name == "Color" %}
        <label class="color-swatch-container" style="background: {{ value }}; background-image: url('https://cdn.shopify.com/s/files/1/0588/4031/7994/files/{{ value }}.png')">
          <input
            type="radio"
            id="{{ input_id }}"
            name="{{ option.name }}"
            value="{{ value | escape }}"
            form="{{ product_form_id }}"
            class="{% if option.selected_value == value %}active{% endif %} {% if option_disabled %} disabled{% endif %}"
            {% if option.selected_value == value%}checked{% endif %}
          >
        </label>
      {% endif %}
  
    {%- elsif picker_type == 'dropdown' -%}
      <option
        value="{{ value | escape }}"
        {% if option.selected_value == value %}
          selected="selected"
        {% endif %}
        class="{% if option_disabled %}unavailable-option{% endif %}"
      >
        {{- value -}}
      </option>
    {%- endif -%}
  {%- endfor -%}
  